@tailwind base;
@tailwind components;
@tailwind utilities;


@import "primereact/resources/themes/tailwind-light/theme.css";  
@import "primereact/resources/primereact.min.css";                  
@import "primeicons/primeicons.css";        
/* @import 'primeflex/primeflex.css';  */

@layer base {
  h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Cabin',sans-serif;
  }
  h1 {
    @apply text-6xl mb-7;
  }
  h2 {
    @apply text-4xl mb-5;
  }
  h3 {
    @apply text-3xl mb-5;
  }

  h4 {
    @apply text-xl mb-5;
  }
  p {
    @apply mb-4;
    font-weight: 400;
  }
}

.p-button.p-button-xs {
  font-size: 0.5rem;
  padding: 0.55625rem;
  width: 2.3rem;
}

/* TOAST */
.p-toast {
  @apply w-[22rem]
}

/* DROPDOWN */
.dark .p-dropdown,
.dark .p-dropdown:not(.p-disabled):hover {
  @apply bg-zinc-900 border-zinc-600 ;
}
.dark .p-dropdown-label.p-inputtext {
  @apply text-zinc-400;
}
.dark .p-dropdown-panel {
  @apply bg-zinc-800 border-zinc-400;
}
.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  @apply text-zinc-300
}
.dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply bg-violet-700 text-violet-100
}

/* DIALOG */
.dark .p-dialog .p-dialog-content {
  @apply bg-zinc-800 ;
}

/* INPUT TEXT */
.dark .p-inputtext,
.p-inputtext:enabled:hover {
  @apply bg-zinc-900 border-zinc-600;
}

/* BUTTONS */

.dark .p-togglebutton.p-button {
  @apply bg-zinc-700 border-zinc-500
}
.p-button,
.p-togglebutton.p-button.p-highlight {
  @apply bg-violet-700 border-violet-600 transition-colors
}
.p-button:enabled:hover,
.p-togglebutton.p-button.p-highlight:hover,
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
  @apply bg-violet-600 border-violet-600 text-violet-100
}
.p-togglebutton.p-button .p-button-icon-left, 
.p-togglebutton.p-button .p-button-icon-right,
.dark .p-button.p-button-sm .p-button-icon,
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-left, 
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-right {
  @apply text-violet-100
}

/*  CHIP  */
.dark .p-chip {
  @apply  bg-violet-900 text-violet-50;
}